<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos - Matheus Sousa dos Santos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='images/M.png') }}" alt="Logo" class="nav-logo">
            <div class="cntr-nav">
                <a href="{{ url_for('home') }}">Início</a>
                <a href="{{ url_for('sobre') }}">Sobre Mim</a>
                <a href="{{ url_for('projetos') }}">Projetos</a>
            </div>
        </nav>
    </header>

    <main>
        <!-- Projeto 1 -->
        <section class="project-section">
            <div class="two">
                <div class="lft-two">
                    <!-- Conteúdo específico do Projeto 1 -->
                </div>
                <div class="rght-two">
                    <h1>Portfólio</h1>
                    <p>Desenvolvimento de um portfólio pessoal responsivo usando HTML, CSS, JavaScript e Flask, com foco em destacar projetos e habilidades em uma interface intuitiva e moderna..</p>
                    <a href="{{ url_for('portfolio') }}" class="btn-saiba-mais">Saiba Mais</a>
                </div>
            </div>
        </section>

        <!-- Projeto 2 -->
        <section class="project-section">
            <div class="two">
                <div class="lft-two">
                    <!-- Conteúdo específico do Projeto 2 -->
                </div>
                <div class="rght-two">
                    <h1>Projeto 2</h1>
                    <p>Descrição detalhada do Projeto 2.</p>
                    <a href="javascript:void(0);" onclick="alert('Mais detalhes sobre o Projeto 2 em breve!')" class="btn-saiba-mais">Saiba Mais</a>
                </div>
            </div>
        </section>

        <!-- Projeto 3 -->
        <section class="project-section">
            <div class="two">
                <div class="lft-two">
                    <!-- Conteúdo específico do Projeto 3 -->
                </div>
                <div class="rght-two">
                    <h1>Projeto 3</h1>
                    <p>Descrição detalhada do Projeto 3.</p>
                    <a href="javascript:void(0);" onclick="alert('Mais detalhes sobre o Projeto 3 em breve!')" class="btn-saiba-mais">Saiba Mais</a>
                </div>
            </div>
        </section>

        <!-- Projeto Novo -->
        <section class="project-section">
            <div class="two">
                <div class="lft-two">
                    <!-- Conteúdo específico do Novo Projeto -->
                </div>
                <div class="rght-two">
                    <h1>Projeto Novo</h1>
                    <p>Descrição detalhada do novo projeto que você deseja adicionar.</p>
                    <a href="javascript:void(0);" onclick="alert('Mais detalhes sobre o novo projeto em breve!')" class="btn-saiba-mais">Saiba Mais</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="social-links">
                <a href="https://www.instagram.com/taiwan.sz/" target="_blank" rel="noopener noreferrer">Instagram</a>
                <a href="https://github.com/Taiwansz" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://www.linkedin.com/in/mth3us" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
